
html {
    --tw-prose-body: var(--text-primary);
    --tw-prose-headings: var(--text-primary);
    --tw-prose-lead: var(--text-primary);
    --tw-prose-links: var(--text-primary);
    --tw-prose-bold: var(--text-primary);
    --tw-prose-counters: var(--text-tertiary);
    --tw-prose-bullets: var(--text-primary);
    --tw-prose-hr: var(--border-xheavy);
    --tw-prose-quotes: var(--text-primary);
    --tw-prose-quote-borders: #e5e7eb;
    --tw-prose-captions: var(--text-secondary);
    --tw-prose-code: var(--text-primary);
    --tw-prose-pre-code: #e5e7eb;
    --tw-prose-pre-bg: #1f2937;
    --tw-prose-th-borders: #d1d5db;
    --tw-prose-td-borders: #e5e7eb;
    --tw-prose-invert-body: var(--text-primary);
    --tw-prose-invert-headings: var(--text-primary);
    --tw-prose-invert-lead: var(--text-primary);
    --tw-prose-invert-links: var(--text-primary);
    --tw-prose-invert-bold: var(--text-primary);
    --tw-prose-invert-counters: var(--text-tertiary);
    --tw-prose-invert-bullets: var(--text-primary);
    --tw-prose-invert-hr: var(--border-xheavy);
    --tw-prose-invert-quotes: var(--text-primary);
    --tw-prose-invert-quote-borders: #374151;
    --tw-prose-invert-captions: var(--text-secondary);
    --tw-prose-invert-code: var(--text-primary);
    --tw-prose-invert-pre-code: #d1d5db;
    --tw-prose-invert-pre-bg: rgba(0, 0, 0, .5);
    --tw-prose-invert-th-borders: #4b5563;
    --tw-prose-invert-td-borders: #374151;
    --white: #fff;
    --black: #000;
    --gray-50: #f9f9f9;
    --gray-100: #ececec;
    --gray-200: #cdcdcd;
    --gray-300: #b4b4b4;
    --gray-400: #9b9b9b;
    --gray-500: #676767;
    --gray-600: #424242;
    --gray-700: #2f2f2f;
    --gray-800: #212121;
    --gray-900: #171717;
    --gray-950: #0d0d0d;
    --brand-purple: #ab68ff;
    --text-primary: var(--gray-950);
    --text-secondary: var(--gray-500);
    --text-tertiary: var(--gray-400);
    --text-quaternary: var(--gray-300);
    --border-light: rgba(0, 0, 0, .1);
    --border-medium: rgba(0, 0, 0, .15);
    --border-heavy: rgba(0, 0, 0, .2);
    --border-xheavy: rgba(0, 0, 0, .25);
    --main-surface-primary: var(--white);
    --main-surface-secondary: var(--gray-50);
    --main-surface-tertiary: var(--gray-100);
    --sidebar-surface-primary: var(--gray-50);
    --sidebar-surface-secondary: var(--gray-100);
    --sidebar-surface-tertiary: var(--gray-200);
    --link: #2964aa;
    --link-hover: #749ac8;
    --selection: #007aff;
}

.markdown {
    max-width: none;
    overflow: hidden;
}

.markdown > * {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.markdown h1 {
    font-weight: 600
}

.markdown h1:first-child {
    margin-top: 0
}

.markdown h2 {
    font-weight: 600;
    margin-bottom: 1rem;
    margin-top: 2rem
}

.markdown h2:first-child {
    margin-top: 0
}

.markdown h3 {
    font-weight: 600;
    margin-bottom: .5rem;
    margin-top: 1rem
}

.markdown h3:first-child {
    margin-top: 0
}

.markdown h4 {
    font-weight: 400;
    margin-bottom: .5rem;
    margin-top: 1rem
}

.markdown h4:first-child {
    margin-top: 0
}

.markdown h5 {
    font-weight: 600
}

.markdown h5:first-child {
    margin-top: 0
}

.markdown blockquote {
    --tw-border-opacity: 1;
    border-color: rgba(155, 155, 155, var(--tw-border-opacity));
    border-left-width: 2px;
    line-height: 1.5rem;
    margin: 0;
    padding-bottom: .5rem;
    padding-left: 1rem;
    padding-top: .5rem
}

.markdown blockquote > p {
    margin: 0
}

.markdown blockquote > p:after, .markdown blockquote > p:before {
    display: none
}

.markdown ol {
    counter-reset: list-number;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-left: 0
}

.markdown ol:first-child > li {
    padding-left: 1.25rem
}

.markdown ol > li {
    counter-increment: list-number;
    display: block;
    margin-bottom: 0;
    margin-top: 0;
    min-height: 28px;
    padding-left: 26px;
}

.markdown ol > li:before {
    --tw-translate-x: -100%;
    --tw-numeric-spacing: tabular-nums;
    color: #9b9b9b;
    color: var(--text-tertiary);
    content: counters(list-number, ".") ".";
    font-variant-numeric: var(--tw-ordinal) var(--tw-slashed-zero) var(--tw-numeric-figure) var(--tw-numeric-spacing) var(--tw-numeric-fraction);
    padding-right: .5rem;
    position: absolute;
    -webkit-transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.markdown ul {
    display: flex;
    flex-direction: column;
    padding-left: 0
}

.markdown ul:first-child > li {
    padding-left: 1.25rem
}

.markdown ul > li {
    display: block;
    margin: 0;
    min-height: 28px;
    padding-left: 16px;
}

.markdown ul > li:before {
    --tw-translate-x: -100%;
    content: "\2022";
    font-size: .875rem;
    line-height: 1.25rem;
    padding-right: .5rem;
    position: absolute;
    -webkit-transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.markdown ol li > p, .markdown ul li > p {
    margin: 0
}

.markdown ol li > pre, .markdown ul li > pre {
    margin-bottom: .5rem;
    margin-top: .25rem
}

.markdown ol ol, .markdown ol ul, .markdown ul ol, .markdown ul ul {
    margin-bottom: 0;
    margin-left: 1rem;
    margin-top: 0
}

.markdown table {
    --tw-border-spacing-x: 0px;
    --tw-border-spacing-y: 0px;
    border-collapse: separate;
    border-spacing: var(--tw-border-spacing-x) var(--tw-border-spacing-y);
    margin-bottom: .25rem;
    margin-top: .25rem;
    width: 100%
}

.markdown th {
    background-color: hsla(0, 0%, 93%, .2);
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-width: 1px;
    padding: .25rem .75rem
}

.markdown th:first-child {
    border-top-left-radius: .375rem
}

.markdown th:last-child {
    border-right-width: 1px;
    border-top-right-radius: .375rem
}

.markdown td {
    border-bottom-width: 1px;
    border-left-width: 1px;
    padding: .25rem .75rem
}

.markdown td:last-child {
    border-right-width: 1px
}

.markdown tbody tr:last-child td:first-child {
    border-bottom-left-radius: .375rem
}

.markdown tbody tr:last-child td:last-child {
    border-bottom-right-radius: .375rem
}

.markdown a {
    color: #2964aa;
    color: var(--link);
    font-weight: 400;
    text-decoration-line: none
}

.markdown a:hover {
    color: #749ac8;
    color: var(--link-hover)
}

.markdown code {
    background: rgb(246, 248, 250);
    overflow-x: auto;
    font-size: 14px;
}

.markdown .hljs-tag {
    background: transparent;
}